<% breadcrumb :services %>
<div class="p-service">
  <div class="p-service__head">
    <h1 class="c-title">
      サービスご利用の流れ
    </h1>
    <ul class="p-service__list">
      <li class="p-service__item">
        <p class="p-service__item-title">1. お問い合わせ</p>
        <p class="p-service__item-txt">まずはお問い合わせフォームよりご連絡ください。
          詳しい条件をお聞かせいただくための電話ヒアリングの
          スケジュール調整を行わせていただきます。</p>
      </li>
      <li class="p-service__item">
        <p class="p-service__item-title">2. 詳しい条件のヒアリング</p>
        <p class="p-service__item-txt">弊社の専門スタッフにお客様のご希望を詳しくお聞かせください。
          税理士に依頼する具体的な業務の調整を行います。
          3営業日以内に、こちらから税理士事務所ご提案のご連絡をいたします。</p>
      </li>
      <li class="p-service__item">
        <p class="p-service__item-title">3. 税理士事務所のご提案</p>
        <p class="p-service__item-txt">ヒアリングを元にお客様に合った税理士事務所を複数ご提案いたします。
          税理士事務所の情報や、費用の見積もりもご確認いただけます。
          また、ご提案したものの中で決めるのが難しい場合は追加のご提案も可能ですので
          お気軽にご相談ください。</p>
      </li>
      <li class="p-service__item">
        <p class="p-service__item-title">4. 税理士事務所と面談</p>
        <p class="p-service__item-txt">ご提案後、お客様が選んだ税理士事務所（複数可）と実際に面会して
          お打ち合わせをしていただき、業務範囲と実際にかかる費用の確認を
          行っていただきます。</p>
      </li>
      <li class="p-service__item">
        <p class="p-service__item-title">5. 税理士事務所の決定</p>
        <p class="p-service__item-txt">業務を依頼する税理士事務所が決まりましたら、
          みんなの税理士相談所までご連絡ください。○○営業日以内に
          税理士事務所からお客様に契約についてのご連絡を差し上げます。
        </p>
      </li>
      <li class="p-service__item">
        <p class="p-service__item-title">6. ご契約</p>
        <p class="p-service__item-txt">お客様にお選びいただいた税理士事務所と契約を結んで終了です。</p>
      </li>
    </ul>
  </div>
  <div class="p-service__head">
    <h2 class="c-title">
      税理士に相談できる業務
    </h2>
    <ul class="p-service__job-list">
      <li class="p-service__job-item">
        <%= link_to t1_path do %>
          <span class="p-service__job-img p-service__job-img-1"></span>
          事業承継・M&A
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t2_path do %>
          <span class="p-service__job-img p-service__job-img-2"></span>
          顧問税理士
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t3_path do %>
          <span class="p-service__job-img p-service__job-img-3"></span>
          確定申告
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t4_path do %>
          <span class="p-service__job-img p-service__job-img-4"></span>
          会社設立
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t5_path do %>
          <span class="p-service__job-img p-service__job-img-5"></span>
          資金調達
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t6_path do %>
          <span class="p-service__job-img p-service__job-img-6"></span>
          経営コンサル
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t7_path do %>
          <span class="p-service__job-img p-service__job-img-7"></span>
          経理・決算
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t8_path do %>
          <span class="p-service__job-img p-service__job-img-8"></span>
          税務調査
        <% end %>
      </li>
      <li class="p-service__job-item">
        <%= link_to t9_path do %>
          <span class="p-service__job-img p-service__job-img-9"></span>
          人事労務
        <% end %>
      </li>
    </ul>
  </div>
  <p class="p-service__cta-txt">
    まずはお気軽にご相談ください！
  </p>
  <p class="p-service__btn">
    <a href="#" class="c-btn-cta">
      税理士紹介を依頼する
    </a>
  </p>
</div>
